#home #row1 { width: 189px }

#sampletext {
    height: 67px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#article-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & input, & textarea, & button {
        border: none;
        box-shadow: 0px -1px 2px grey, 1px 0px 0px antiquewhite;
    }
}

#user-profile-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#info {
    display: flex;
    justify-content: space-between;
}