<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Clone - Home</title>
    <style>
        body {
            font-family: serif;
            background: white;
            padding: 0;
        }
        .container {
            width: 80%;
            padding: 20px;
        }
        textarea {
          width: 1075px;
          resize: vertical;
        }
        h1 {
            color: #333;
        }
        .article-list {
            list-style-type: none;
            padding: 0;
        }
        .article-list li {
            background: #fff;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .article-list a {
            text-decoration: none;
            color: #007bff;
        }
        .article-list a:hover {
            text-decoration: underline;
        }
        .form-container input,
        .form-container textarea,
        .form-container button {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        button.form-container {
          width: 100%
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><a class="back-link" href="/">Wikiverse</a></h1>
        <% articles.forEach(article => { %>
            <a href="/subject/<%= article.subject %>"><%= article.title %></a>
             | 
    <% }) %>
        <marquee>Welcome to the W i k i v e r s e. I made this just for fun cause im bored lol. You can get started by creating your own article or view other people's articles!</marquee>
        <hr>
            <h2>Add New Article</h2>
            <form action="/add" method="post">
                <input type="text" name="title" placeholder="Title" required>
                <input type="text" name="author" placeholder="Author" required>
                <input type="text" name="subject" placeholder="Subject" required>
                <textarea name="content" placeholder="Content" required></textarea>
                <button type="submit" class="form-container">Add Article</button>
            </form>            
        <hr>
        <h2>Articles</h2>
            <% articles.forEach(article => { %>
                    <a href="/article/<%= article.id %>"><%= article.title %></a>
            <% }) %>
        <hr>
        <time></time>
    </div>
</body>
</html>