.bookmark {
    height: 20px;
    background: linear-gradient(white, #d9d9d9);
    border-radius: 5px 5px 0 0;
    text-align: center;
    border: 1px solid #806d5e;
    border-bottom: none;
}

.bookmark.selected {
    background: white;
    box-shadow: 1px 2px 10px;
    z-index: 0
}

div#icon-url[contentEditable="plaintext-only"], div#user-url[contentEditable="plaintext-only"], div#username[contentEditable="plaintext-only"] {
    padding: 2px;
    border: 1px solid #c1c1c1
}

#icon-url[contentEditable=true]:empty:not(:focus):before {
    content: 'eg,.. https://www.google.com/favicon.ico'
}

#user-url[contentEditable=true]:empty:not(:focus):before {
    content: 'eg,.. https://www.darflen.com/users/souple'
}

#username[contentEditable=true]:empty:not(:focus):before {
    content: 'eg,.. souple, the_username403, defaultMaster64'
}

#hold div[contenteditable=true] {
    display: inline-block; 
    outline: none;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}
#hold:has([contenteditable=true]) {
    background: white;
    outline: none;
    font-size: small;
    color: dimgrey;
    padding-top: 3px;
    white-space: pre-wrap;
    border: 1px solid #806d5e;
    box-shadow: 0 1px 4px rgb(0 0 0 / 56%) inset, 0 2px 0 rgba(255, 255, 255, 0.3), inset 0px 8px 6px -6px rgb(106 106 106 / 88%);
    word-break: break-all;
    padding: 5px;
    margin-bottom:10px
}