nav#topbar, .dropdown { background-color: #5193CE }
.dropdown ul a:hover { background-color: #8ecaff !important }
label { width: 100%; margin: 5px 0px }
textarea#content { width: 100%; height: 317px }
button#post-button, button#preview-button { 
    margin-right: 2px;
    background: #5193ce;
    color: white;
}
input {
    border: 1px solid #5b5b5b;
    border-style: dotted;
    font-size: 9px;
    outline: none;
    color: #828080;
    margin-left: 0px;
}
#left { width: 442px; }
#right { width: 100%; margin-left: 10px }
#main { width: 442px }
#preview {
    margin: 0;
    width: 475px;
    height: 350px;
}
input[name=toggle-preview] {
    height: 8px
}
#preview-window {width:100%;height:100%}
#edit-content, #edit-tags, #edit-style, 
#edit-parentpart, #edit-comments-toggle, #edit-globalcss-toggle, 
#edit-social-links, #edit-music, #edit-html, #edit-scripts {
    width: 100%;
    margin-bottom: 5px;
    display: grid;
}
#edit-social-links label {
    margin: 0;
}
#edit-style #content, #edit-scripts #content {
    height: 200px;
}
#tags {
    width: 442px;
    border: 1px dashed grey;
    min-height: 18px;
    padding: 0px;
}
#options { padding: 10px 0 }
.option { display: flex }
.option input {
    width: 100%;
}
.tag {
    display: inline-block;
    background: #bbb;
    border-radius: 2px;
    font-size: 10px;
    padding: 4px 8px;
    color: #f4f4f4;
    margin: 5px 0px 5px 5px;
    position: relative;
}
.remove-tag {
    position: absolute;
    top: -1px;
    cursor: pointer;
}
#emoji-list img {
    margin: 2px;
    cursor: pointer;
}
.s-link {
    display: flex;
    gap: 4px;
    padding: 2px 0
}
button#add-link, button.remove-link {
    height: 16px;
    align-self: end;
}
#social-links-inputarea {
    display: flex;
    gap: 4px;
    padding: 6px 0 13px;
}
.tabs {
    display: flex;
}
.tab.selected {
    background: #ececec;
}
#tabs-music, #tabs-music input {
    width: 100%;
}
.tab {
    display: flex;
    flex-grow: 1;
    margin-right: 2px;
    background: #d2d2d2;
    font-size: 10px;
    color: #848c95;
    padding-left: 4px;
    cursor: pointer
}
.tabs .tab:last-child {
    margin: 0
}
#music-input {
    padding: 4px;
    background: #ececec;
    display: flex;
}

#music-details { user-select: none }
.song-group {
    display: flex;
    padding: 5px 0px 0px 0px;
    cursor: pointer;
    height: 23px;
    position: relative
}
.song-group:hover {
    background: #EAEAEA;
}
.song-detail {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    flex-grow: 1;
}
.song-group img {
    width: 25px;
    background: gray;
    border: none !important;
    height: 25px;
    pointer-events: none;
}
.song-group p {
    margin: 0;
}
.song-group small {
    flex-grow: 1;
}
.song-date, .song-album, .song-genre {
    text-align: center;
    line-height: 2;
}