/* Fonts */
@font-face {
    font-family: 'Josefin Sans';
    src: url("/font/JosefinSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html, body { 
    padding: 0; 
    margin: 0; 
    overflow-x: clip; 
    overflow-y: auto; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    height: 100%; 
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, Arial, sans-serif; 
    color: #CE5151; 
    font-weight: lighter;
    margin: 2px 0px;
}
p { 
    display: inline-block;
    color: #9D9D9D;
    margin: 2px;
    font-size: 8px;
    white-space: pre-wrap;
    word-break: break-word;
}
input:focus-visible, input:-webkit-autofill, input:-webkit-autofill:focus {
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
a { color: #3399CC }
a:focus { color: #355F9F }
small { color: gray; font-size: 8px }
label { display: inline-grid }
blink {
	animation:blink 0.75s ease-in infinite alternate!important;
}
code {
    display: block;
    background: black;
    font-family: monospace;
}
#entry-body img {
    max-width: 330px;
}
select {
    border: 1px solid #acacac;
    font-size: 8px;
}
@keyframes rainbow-flow {
    0% { background-position: 50% 0% }
  100% { background-position: -200%; }
}
@keyframes blink {
	0% { opacity:1 } 75% { opacity:1 } 76% { opacity:0 } 100% { opacity:0 }
}
.rainbow {
    color: rgba(0, 0, 0, 0.459);
    background: linear-gradient(to right,
            red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red);
    background-size: 500%;
    animation: rainbow-flow infinite linear 36s;
    -webkit-background-clip: text;
    background-clip: text;
}
nav#topbar {
    padding: 5px 0px 5px 11px;
    height: 12px;
    margin-bottom: 2px;
    color: white;
    background-color: #CE5151;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999999999;
    box-shadow: 0 0 5px #00000057;
}
nav#topbar #logo {
    margin-right: 36px;
    float: left;
    height: 11px;
    width: auto
}
ul#site-options, ul#user-options {
    list-style-type: none;
    margin: 0;
    font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, Arial, sans-serif;
    font-size: 11px
}
ul#site-options li, ul#user-options li {
    display: inline-block;
    margin-right: 20px;
    color: white !important
}
ul#site-options { float: left } ul#user-options { float: right }
#stats h6, #stats small {
    float: right
}
#main { 
    padding: 10px;
    height: 100%;
    display: flex;
}
#left { width: 640px }
.expand-x { width: 100% }
.group { margin-bottom: 10px }
.bottom { bottom: 0;position: absolute; }
.dropdown {
    position: absolute;
    width: 117px;
    background-color: #A44242;
    top: 17px;
    right: -22px;
    box-shadow: inset 0 2px 2px -2px #0000004f;
    z-index: 99
}
.dropdown ul { padding: 0; display: grid }
.dropdown ul a li { padding: 4px }
.dropdown ul a:hover { background-color: #CE5151 }
.hidden { display: none !important; visibility: hidden }
.link { cursor: pointer }
.carousel { 
    display: flex; 
    align-items: center; 
    width: 100%;
}
.carousel-arrow { 
    background: url("/images/ui/carousel arrow.png");
    background-position-x: left;
    width: 12px;
    height: 20px;
}
.carousel-arrow.right { 
    background: url("/images/ui/carousel arrow.png");
    background-position-x: right;
    width: 12px;
    height: 20px;
}
.carousel-content {
    scroll-snap-type: x mandatory;
    overflow: auto;
    scroll-behavior: smooth;
    align-items: center;
    flex-grow: 1;
    display: flex;
    margin: 6px;
    width: 250px
}
.carousel-content::-webkit-scrollbar { display: none }
.carousel-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    div {
        align-items: anchor-center
    }
}

/* Comments */
#comments-section { 
    margin-top: 20px; 
    max-width: 368px 
}
#comment-box {
    display: flex;
    flex-direction: column;
}
button {
    border-color: transparent;
    color: #888;
    font-size: 9px;
}
textarea {
    width: 100%;
    min-height: 60px;
    border: 1px solid #5b5b5b;
    border-style: dotted;
    font-size: 9px;
    outline: none;
    color: #828080;
    resize: none;
    margin-top: 10px;
}
.comment { 
    display: flex;
    margin: 4px 0px 13px 0px;
}
.post { 
    margin-left: 3px; 
    position: relative;
    width: 100%;
}
.post-pfp {
    object-fit: cover;
    border: 1px solid #CE5151;
    object-position: left;
    width: 47px;
    height: 47px;
    border-style: dotted;
}
.post-message p { margin: 0; width: 100%; }
#entry { width: 650px; margin: 10px 6px }
.entry-title { margin: 6px 0px 3px 0px }
#entry-date { color: #828282; font-size: 8px }
#entry-date #last-modified { float: right }
#entry-body {
    display: inline-block;
    color: #9D9D9D;
    font-size: 8px;
    margin-top: 7px;
    width: 100%
}
textarea#articleEdit {
    resize: vertical;
    height: 308px;
}