#profile-pic {
    height: 180px;
    object-fit: cover;
    border: 1px solid #74583e;
    box-shadow: 0 1px 4px rgb(0 0 0 / 56%) inset, 0 2px 0 rgba(255, 255, 255, 0.3), inset 0px 8px 6px -6px rgb(106 106 106 / 88%);
}

.contents {
    background: linear-gradient(177deg, white, #dee2e2);
    padding: 4px;
    border: 1px solid grey;
    box-shadow: inset 0px 0px 0px 1px white;
}

.header {
    height: 21px;
    border: 1px solid rgb(104 129 153);
    -webkit-box-shadow: inset 0px 1px #fffffe;
    box-shadow: inset 0px 1px #fffffe, -1px 6px 9px -7px;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7e3fa), to(#bfd5e2));
    padding-left: 3px;
}

.socials {
    display: flex;
    flex-direction: column;
}

.social {
    border: 1px solid #987d65;
    box-shadow: inset 0px 1px #fffffe;
    height: 23px;
    a {
        color: black;
        font-size: smaller;
    }
}

.social-link {
    line-height: 1.5
}

.favicon {
    height: 23px;
    margin-right: 6px;
    border-right: 1px solid #987d65;
}

#item {
    scroll-snap-align: center;
    padding: 5px;
}

img#item {
    width: 45px;
    height: 29px;
    object-fit: cover;
}

#item-text {
    width: 61px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.item-list { 
    scroll-snap-type: x mandatory;
    overflow: auto;
    scroll-behavior: smooth;
    box-shadow: 0 1px 4px rgb(0 0 0 / 56%) inset, 0 2px 0 rgba(255, 255, 255, 0.3), inset 0px 8px 6px -6px rgb(106 106 106 / 88%);
    height: 58px;
    align-items: center;
}
.item-list::-webkit-scrollbar { display: none }
.item-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    div {
        align-items: anchor-center
    }
}

.carousel-item { min-width: 0 }
.carousel { width: auto; overflow: hidden }

#prev-btn, #next-btn {
    padding: 2px
}

#controls a img {
    width: 35px;
    box-shadow: 0px 1px 4px -1px black;
}

#music-player-container {
    background: #8D8D8D url('../images/ui/base.png') no-repeat;
    background-position: bottom;
    input[type=range] {
        -webkit-appearance: none;
        appearance: none;
        background: #555;
        height: 5px;
    }
    input[type=range]::-webkit-slider-thumb {
        background-image: url('../images/ui/wheel.png');
        background-color: transparent;
        background-position: center;
        border: none;
        width: 21px;
        height: 20px;
    }
    input[type=range]::-moz-range-thumb {
        background-image: url('../images/ui/wheel.png');
        background-color: transparent;
        background-position: center;
        border: none;
        width: 21px;
        height: 20px;
    }
    input[type=range]::-ms-thumb {
        background-image: url('../images/ui/wheel.png');
        background-color: transparent;
        background-position: center;
        border: none;
        width: 21px;
        height: 20px;
    }
}


#song-info {
    background: linear-gradient(#212121, #333333);
    box-shadow: 0px 0px 0.1px 2px rgba(0, 0, 0, 0.21);
    border-radius: 2px;
    margin: 6px 8px;
    height: 21px;
    align-content: center;
    marquee {
        text-shadow: 0 0 4px white;
        font-size: 9px;
        color: white;
    }
}

#thums {
    position: absolute;
    margin: 21px 6px;
    img {
        width: 69px;
        height: 69px;
        object-fit: cover;
    }
}